/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0px 30px;
  font-family: 'Poiret One', cursive;
}

h1, nav, footer {
  text-align: center;
}

.book-index, .book-show {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 4.4em;
}

.book-index-h2 {
  font-size: 2em;
  max-width: 360px;
}

.book-h2 {
  font-size: 1.8em;
}

h3, h4 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  font-size: 2.4em;
}

a {
  text-decoration: none;
  color: #d44d4d;
}

.main-heading a {
  color: #000000;
}

section {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  padding-top: 20px;
}

.index-summary {
  max-width: 360px;
}

.book-top {
  margin-top: 40px;
}

.book-main {
  display: inline-block;
}

.book-info {
  vertical-align: top;
  width: 30%;
  max-width: 300px;
  display: inline-block;
}

.book-summary {
  vertical-align: top;
  width: 60%;
  margin-left: 1%;
  display: inline-block;
}

.form-wrap {
  width: 20%;
  margin: 0 auto;
}

.summary-paragraph {
  line-height: 30px;
}

.reviews {
 /* width: 60%;
  margin-left: 1%;
  display: inline-block;*/
  border-bottom: 1px #000 dotted;
}

.add-review {
  width: 20%;
  margin: 0 auto;
}